.movie-item{
  position: relative;
  display: flex;
  width: 49%;
  height: 280px;
  overflow: hidden;
  margin-bottom: 20px;
  box-shadow: 0 0 5px 4px rgb(211, 211, 211);
}

.item-rate {
  border: 2px solid;
  width: 30px;
  height: 30px;
  border-radius: 100%;
}

.item-rate-value{
  line-height: 1.9;
}

.colorRed {
  border-color: #E90000;
}

.colorOrange {
  border-color: #E97E00;
}

.colorYellow {
  border-color: #E9D100;
}

.colorGreen {
  border-color: #66E900;
}


.item-content{
  padding: 12px 9px 0px 9px;
  position: relative;
  width: 100%;
}
.item-title{
  margin: 0;
  font-size: 14px;
  width: 85%;
  font-weight: 400px;
}
.item-date{
  font-size: 12px;
}
.item-description{
  font-size: 12px;
  height: 92px;
  /* overflow: hidden; */
  margin-top: 10px;
}
.item-premiere{
  color: #827E7E;
  font-size: 12px;
}

.item-img img{
  max-width: 185px;
}
.no-poster{
  border-right: 1px solid rgb(195, 193, 193);
  padding-top: 60px;
  text-align: center;
  width: 185px;
  height: 280px;
}

.genre-span{
  display: inline-block;
  border: 1px solid #D9D9D9;
  background-color: #FAFAFA;
  padding: 2px;
  margin-right: 4px;
  margin-top: 5px;
  font-size: 12px;
  cursor: pointer;
}

@media(max-width: 1020px) {
  .item-title{
    width: 65%;
  }
}

@media(max-width: 962px) {
  .item-date{
    font-size: 10px;
  }
  .item-img img{
    max-width: 125px;
  }
  .item-description{
    font-size: 12px;
    height: 73px;
  }
  .item-title{
    font-size: 12px;
  }
}

@media(max-width: 735px) {
  .movie-item{
    width: 100%;
  }
  .item-date{
    font-size: 12px;
  }
  .item-img img{
    max-width: 185px;
  }
  .item-description{
    font-size: 12px;
    height: 92px;
  }
  .item-title{
    font-size: 14px;
    width: 75%;
  }
}

@media(max-width: 520px) {
  /* .movie-item{
    height: 245px;
  } */
  .item-img img{
    max-width: 165px;
    /* margin:6px 4px 10px 10px; */
  }
}

@media(max-width: 470px) {
  .movie-item{
    height: 245px;
  }
  .item-img img{
    max-width: 60px;
    margin:6px 4px 10px 10px;
  }
  .item-description{
    position: absolute;
    margin:12px 25px 0 10px;
    min-width: 320px;
    left: -72px;
    /* padding:  0 15px 0 10px; */

  }
}

/* меньше 960px position: absolute;
    margin: 10px 10px;
    min-width: 340px;
    right: -10px;
    /* padding: 5px;*/