.item-stars-rate{
    position: absolute;
    bottom: 20px;
    left: 20px;
}
.item-rate{
  position: absolute;
  right: 20px;
  top: 15px;
  text-align: center;
}
.item-rate-value{
  text-align: center;
  position: relative;
  top: 1px; 
  font-weight: 600;
}
.item-rate-value span {
  margin: 10px;
}
.ant-rate{
  position: absolute;
  bottom: 10px;
  font-size: 17px;
}

@media(max-width: 962px) {
  .item-rate{
    right: 20px;
    top: 15px;
  }
  .ant-rate{
    white-space: nowrap;
    right: 10px;
  }
}

@media(max-width: 520px) {
  /* .sk7ap8.ant-rate .ant-rate-star:not(:last-child){
    margin-inline-end: 4px;
  } */
  li.ant-rate-star.ant-rate-star-zero{
    margin-inline-end: 4px;
  }
  .ant-rate{
    bottom: 6px;
  }
}

@media(max-width: 500px) {
  /* .sk7ap8.ant-rate .ant-rate-star:not(:last-child){ */
    li.ant-rate-star.ant-rate-star-zero{
    margin-inline-end: 2px;
  }
}

@media(max-width: 470px) {
  /* .sk7ap8.ant-rate .ant-rate-star:not(:last-child){ */
    li.ant-rate-star.ant-rate-star-zero{
    margin-inline-end: 6px;
  }
  .ant-rate{
    font-size: 20px;
  }
}
