.example {
    margin: 20px 0;
    margin-bottom: 20px;
    padding: 30px 50px;
    text-align: center;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 4px;
}

:where(.css-dev-only-do-not-override-sk7ap8).ant-spin .ant-spin-dot-item{
    width: 28px;
    height: 28px;
}

:where(.css-dev-only-do-not-override-sk7ap8).ant-spin .ant-spin-dot{
    font-size: 63px;
}